/* Given code */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* added code */
/* white bg so we can see the body is set to 1440px */
html {
  background-color: #fff;
}

/* Body setting, including desktop size of 1440px as specifies */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375em;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  max-width: 1440px;
  margin: auto;
}

/* for the header add to the html */
header {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 65px 5% 50px;
}

/* Header settings */
h1 {
  font-weight: 200;
  margin: 0;
  color: hsl(234, 12%, 34%);
  font-size: 2.435em;
}

/* responsive heading for mobile*/
@media screen and (max-width: 599px) {
h1 {
  font-weight: 200;
  margin: 0;
  color: hsl(234, 12%, 34%);
  font-size: 7vw;
}
}

.strong {
  font-weight: 600;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-size: 1.35em;
  margin-bottom: 0px;
}

/* Card design */
.card {
  margin: auto;
  background-color: #fff;
  padding: 5px 30px 30px;
  max-width: 285px;
  height: 210px;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 2%;
  box-shadow: 0 10px 20px #d9e1ee;
}

img {
  float: right;
  padding-top: 20px;
}

/* Grid setting */
@media screen and (max-width: 599px) {
  .cards {
    padding-bottom: 65px;
    /* not for the grid but rather the section to contain the grid*/
    max-width: 90%;
    /* not for the grid but rather the section to contain the grid*/
    margin: auto;
    /* not for the grid but rather the section to contain the grid*/
    display: grid;
    grid-gap: 25px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-template-areas: "s" "tb" "k" "c"
  }
}

@media screen and (min-width: 600px) {
  .cards {
    padding-bottom: 65px;
    /* not for the grid but rather the section to contain the grid*/
    max-width: 90%;
    /* not for the grid but rather the section to contain the grid*/
    margin: auto;
    /* not for the grid but rather the section to contain the grid*/
    display: grid;
    grid-gap: 25px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "s tb"
      "k c"
  }
}

@media screen and (min-width: 900px) {
  .cards {
    padding-bottom: 65px;
    /* not for the grid but rather the section to contain the grid*/
    max-width: 1110px;
    /* not for the grid but rather the section to contain the grid*/
    margin: auto;
    /* not for the grid but rather the section to contain the grid*/
    display: grid;
    grid-gap: 25px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "s tb c"
      "s k c"
  }
}

/* Grid positions */
.supervisor {
  grid-area: s;
  border-color: hsl(180, 62%, 55%);
}

.team-builder {
  grid-area: tb;
  border-color: hsl(0, 78%, 62%);
}

.calculator {
  grid-area: c;
  border-color: hsl(212, 86%, 64%);
}

.karma {
  grid-area: k;
  border-color: hsl(34, 97%, 64%);
}
